@{
    ViewBag.Title = "LED Text Parser";
}
<div class="container--primary">
    <div class="container__led">
        <label for="led-input">Enter LED string here:</label>
        <textarea name="led-input" class="textbox__led" autofocus type="text"></textarea>
    </div>
    <div class="container--button">
        <button class="btn btn-default">Convert to String</button>
    </div>
    <div class="container--string-output">
        <label for="string-output">String Output:</label>
        <textarea name="string-output" disabled class="textbox__string" type="text"></textarea>
    </div>
</div>
