.container--primary {
    height: 100vh;
    display: grid;
    grid-template-rows: 50% 10% 40%;
    background-color: slategrey;
    color: white;
}

.container__led {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textbox__led {
    color: black;
    height: 200px;
    width: 70%;
    border-radius: 3px;
}

.container--button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--string-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textbox__string {
    width: 40%;
    border-radius: 3px;
}
